
.error-field{
    color: red;
    opacity: 0;
    transition: opacity 200ms linear;
}

.error-field-shown{
    opacity: 1;
}

.optionField{
    visibility:hidden;
}
.optionField.shown{
    visibility:visible;
}

[class^="column"]::after{
    display: inline-block;
}

.all-inputs > div {
    margin: 1% 0;
    display: flex;
    justify-content: space-between;
}
.all-inputs p{
    width: 95%;
    border: 1px solid darkgray;
    border-radius: 5px;
    padding-left: 0.2rem;
    margin: 0;
}
.all-inputs >div.type-select{
    display: block;
    width: 95%;
    border: 1px solid darkgray;
    border-radius: 5px;
}

div.type-select > .bi-trash{
   position: relative;
   float: right;
   left: 22px;
}
div.type-select span:not(:first-child)::after{
    content: ",";
}

.bi-trash{
    cursor: pointer;
    transition: color 200ms linear;
}
.bi-trash:hover{
    color: red;
}

.added-options{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
._option{
    background-color: lightgrey;
    border-radius: 5px;
    padding: 0 0.2rem;
    margin: 0.4rem 0;
}
.bi-x{
    color: red;
    vertical-align: middle;
    cursor: pointer;
    font-size: 1.4rem;
}

.hidden{
    display: none;
}